Repository moidot/backend, pull requests merged in 2023-08, with the labels that each got.

#62 refactor : 통합 소셜로그인 API 로직 변경
  src/main/java/com/moim/backend/domain/user/service/GoogleLoginService.java
  src/main/java/com/moim/backend/domain/user/service/KakaoLoginService.java
  src/main/java/com/moim/backend/domain/user/service/NaverLoginService.java
  src/main/java/com/moim/backend/domain/user/service/OAuth2LoginService.java
  src/main/java/com/moim/backend/domain/user/service/UserService.java
  src/test/java/com/moim/backend/domain/user/service/UserServiceTest.java
Labels: test, refactor

#63 feat : 투표 관련 API 구현
  .gitignore
  src/docs/asciidoc/api/groupvote/vote.adoc
  src/docs/asciidoc/index.adoc
  src/main/generated/com/moim/backend/domain/groupvote/entity/QSelectPlace.java
  src/main/generated/com/moim/backend/domain/groupvote/entity/QVote.java
  src/main/generated/com/moim/backend/domain/groupvote/entity/QVotePlace.java
  src/main/generated/com/moim/backend/domain/space/entity/QBestPlace.java
  src/main/generated/com/moim/backend/domain/space/entity/QGroups.java
  src/main/generated/com/moim/backend/domain/space/entity/QParticipation.java
  src/main/java/com/moim/backend/domain/groupvote/controller/VoteController.java
  src/main/java/com/moim/backend/domain/groupvote/entity/SelectPlace.java
  src/main/java/com/moim/backend/domain/groupvote/entity/Vote.java
  src/main/java/com/moim/backend/domain/groupvote/entity/VotePlace.java
  src/main/java/com/moim/backend/domain/groupvote/repository/SelectPlaceCustomRepository.java
  src/main/java/com/moim/backend/domain/groupvote/repository/SelectPlaceRepository.java
  src/main/java/com/moim/backend/domain/groupvote/repository/SelectPlaceRepositoryImpl.java
  src/main/java/com/moim/backend/domain/groupvote/repository/VoteRepository.java
  src/main/java/com/moim/backend/domain/groupvote/request/VoteRequest.java
  src/main/java/com/moim/backend/domain/groupvote/request/VoteServiceRequest.java
  src/main/java/com/moim/backend/domain/groupvote/response/VoteResponse.java
  src/main/java/com/moim/backend/domain/groupvote/service/VoteService.java
  src/main/java/com/moim/backend/domain/space/entity/BestPlace.java
  src/main/java/com/moim/backend/domain/space/entity/Groups.java
  src/main/java/com/moim/backend/domain/space/repository/GroupCustomRepository.java
  src/main/java/com/moim/backend/domain/space/repository/GroupRepositoryImpl.java
  src/main/java/com/moim/backend/domain/space/repository/ParticipationRepository.java
  src/main/java/com/moim/backend/global/common/Result.java
  src/test/java/com/moim/backend/docs/groupvote/VoteControllerDocsTest.java
  src/test/java/com/moim/backend/domain/ControllerTestSupport.java
  src/test/java/com/moim/backend/domain/groupvote/controller/VoteControllerTest.java
  src/test/java/com/moim/backend/domain/groupvote/repository/SelectPlaceRepositoryTest.java
  src/test/java/com/moim/backend/domain/groupvote/service/VoteServiceTest.java
  src/test/java/com/moim/backend/domain/space/repository/GroupRepositoryTest.java
  src/test/java/com/moim/backend/domain/space/service/GroupServiceTest.java
Labels: docs, feature, test

#66 feat : 모임 장소 추천 조회 리스트 API 구현
  src/docs/asciidoc/api/space/group.adoc
  src/main/java/com/moim/backend/domain/space/controller/GroupController.java
  src/main/java/com/moim/backend/domain/space/entity/TransportationType.java
  src/main/java/com/moim/backend/domain/space/repository/GroupCustomRepository.java
  src/main/java/com/moim/backend/domain/space/repository/GroupRepositoryImpl.java
  src/main/java/com/moim/backend/domain/space/response/GroupResponse.java
  src/main/java/com/moim/backend/domain/space/response/KakaoMapDetailDto.java
  src/main/java/com/moim/backend/domain/space/response/NaverMapListDto.java
  src/main/java/com/moim/backend/domain/space/service/GroupService.java
  src/main/java/com/moim/backend/global/common/Result.java
  src/test/java/com/moim/backend/docs/space/GroupControllerDocsTest.java
  src/test/java/com/moim/backend/domain/space/controller/GroupControllerTest.java
  src/test/java/com/moim/backend/domain/space/repository/GroupRepositoryTest.java
  src/test/java/com/moim/backend/domain/space/service/GroupServiceTest.java
Labels: docs, feature, test

#67 refactor : 교통편 Enum 타입 변경
  src/docs/asciidoc/api/common/statusDetail.adoc
  src/main/java/com/moim/backend/domain/space/controller/GroupController.java
  src/main/java/com/moim/backend/domain/space/entity/Participation.java
  src/main/java/com/moim/backend/domain/space/entity/TransportationType.java
  src/main/java/com/moim/backend/domain/space/request/GroupRequest.java
  src/main/java/com/moim/backend/domain/space/request/GroupServiceRequest.java
  src/main/java/com/moim/backend/domain/space/service/GroupService.java
  src/test/java/com/moim/backend/docs/space/GroupControllerDocsTest.java
  src/test/java/com/moim/backend/domain/groupvote/service/VoteServiceTest.java
  src/test/java/com/moim/backend/domain/space/controller/GroupControllerTest.java
  src/test/java/com/moim/backend/domain/space/repository/GroupRepositoryTest.java
  src/test/java/com/moim/backend/domain/space/service/GroupServiceTest.java
Labels: refactor

#68 refactor : 소셜 로그인 API 리팩터링 및 불필요한 API 제거
  src/docs/asciidoc/api/admin/version.adoc
  src/docs/asciidoc/api/user/user.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/moim/backend/domain/admin/controller/VersionController.java
  src/main/java/com/moim/backend/domain/admin/request/VersionRequest.java
  src/main/java/com/moim/backend/domain/admin/request/VersionServiceRequest.java
  src/main/java/com/moim/backend/domain/admin/response/VersionResponse.java
  src/main/java/com/moim/backend/domain/admin/service/VersionService.java
  src/main/java/com/moim/backend/domain/user/controller/UserController.java
  src/main/java/com/moim/backend/domain/user/response/UserResponse.java
  src/main/java/com/moim/backend/domain/user/service/UserService.java
  src/test/java/com/moim/backend/docs/admin/VersionControllerDocsTest.java
  src/test/java/com/moim/backend/docs/user/UserControllerDocsTest.java
  src/test/java/com/moim/backend/domain/ControllerTestSupport.java
  src/test/java/com/moim/backend/domain/admin/controller/VersionControllerTest.java
  src/test/java/com/moim/backend/domain/admin/service/VersionServiceTest.java
  src/test/java/com/moim/backend/domain/user/controller/UserControllerTest.java
Labels: test, refactor

#71 feat: 모임 추천 지역 조회하기 경로 조회 로직 추가
  src/main/java/com/moim/backend/domain/space/config/OdsayProperties.java
  src/main/java/com/moim/backend/domain/space/controller/GroupController.java
  src/main/java/com/moim/backend/domain/space/repository/ParticipationRepository.java
  src/main/java/com/moim/backend/domain/space/response/BusGraphicDataResponse.java
  src/main/java/com/moim/backend/domain/space/response/BusPathResponse.java
  src/main/java/com/moim/backend/domain/space/response/CarMoveInfo.java
  src/main/java/com/moim/backend/domain/space/response/MoveInfoInterface.java
  src/main/java/com/moim/backend/domain/space/response/PathDto.java
  src/main/java/com/moim/backend/domain/space/response/PathGraphicDataInterface.java
  src/main/java/com/moim/backend/domain/space/response/PlaceRouteResponse.java
  src/main/java/com/moim/backend/domain/space/service/GroupService.java
  src/main/java/com/moim/backend/domain/user/config/KakaoProperties.java
  src/test/java/com/moim/backend/docs/space/GroupControllerDocsTest.java
Labels: docs, feature

#70 chore : 매핑 주소 변경
  scripts/health_check.sh
  src/docs/asciidoc/api/groupvote/vote.adoc
  src/docs/asciidoc/api/space/group.adoc
  src/main/java/com/moim/backend/domain/groupvote/controller/VoteController.java
  src/main/java/com/moim/backend/domain/groupvote/response/VoteResponse.java
  src/main/java/com/moim/backend/domain/groupvote/service/VoteService.java
  src/main/java/com/moim/backend/domain/space/controller/GroupController.java
  src/main/java/com/moim/backend/domain/space/entity/Groups.java
  src/main/java/com/moim/backend/domain/space/repository/GroupCustomRepository.java
  src/main/java/com/moim/backend/domain/space/repository/GroupRepositoryImpl.java
  src/main/java/com/moim/backend/domain/space/response/GroupResponse.java
  src/main/java/com/moim/backend/domain/space/service/GroupService.java
  src/main/java/com/moim/backend/domain/user/controller/UserController.java
  src/test/java/com/moim/backend/docs/groupvote/VoteControllerDocsTest.java
  src/test/java/com/moim/backend/docs/space/GroupControllerDocsTest.java
  src/test/java/com/moim/backend/domain/groupvote/controller/VoteControllerTest.java
  src/test/java/com/moim/backend/domain/groupvote/service/VoteServiceTest.java
  src/test/java/com/moim/backend/domain/space/controller/GroupControllerTest.java
  src/test/java/com/moim/backend/domain/space/repository/GroupRepositoryTest.java
  src/test/java/com/moim/backend/domain/space/service/GroupServiceTest.java
Labels: chore

#74 docs : RestDocs -> RestDocsWithSwagger 문서로 변경
  build.gradle
  src/main/java/com/moim/backend/domain/space/controller/GroupController.java
  src/test/java/com/moim/backend/docs/groupvote/VoteControllerDocsTest.java
  src/test/java/com/moim/backend/docs/space/GroupControllerDocsTest.java
  src/test/java/com/moim/backend/docs/user/UserControllerDocsTest.java
Labels: docs
